.cc{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color:wheat;
    border-radius: 10px;
}
.con{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.aut{
    margin-bottom: 5px;
}
.da{
    margin-bottom: 5px;
}